body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin:0px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24pt;
    color: white;
    background: linear-gradient(90deg, rgba(30, 30, 30) 0%, rgba(24, 24, 24) 50%);
    padding: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    align-items: start;
    justify-content: center;
}

.timelineDiv {
    display:flex;
    justify-content: center;
}

.chart-containers {
    display: flex;
    flex-direction: rows;
    margin: 2px;
    justify-content:center;
}

.media {
    background-color: #424242 !important;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
.media > iframe {
    width:50%;
}

.media-title {
    display:flex;
    color:white;
    font-size: 24pt;
    background-color: black;
    width: 50%;
    justify-content: center !important;
    margin: 5px;
    padding: 5px;
}

.contents {
    background-color: #424242 !important;
    height: 90vh;
    overflow: hidden;
}

.charts{
    display: flex;
}

.chartpanel {
    justify-items:center;
    align-items: center;
}

.title {
    color: white;
    background-color: black;
    display: flex;
    font-size: 14pt;
    justify-content: space-between;
    padding: 5px;
}
.title-container {
    flex: 3;
}
.key {
    font-size: 12pt;
    display:flex;
    justify-items: end;
    /* float: right; */
}

.key-high {
    /* border: 1px solid white; */
    /* border-radius: 3px; */
    margin-right: 3px;
    padding: 1px;
    /* background-color:#105189; */
}

.key-low {
    /* border: 1px solid white; */
    /* border-radius: 3px; */
    margin-left: 3px;
    padding: 1px;
    /* background-color:#cc0418; */
}

.color-box-high {
    width: 10px;
    height: 10px;
    /* display: inline-block; */
    background-color: #105189;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.color-box-low {
    width: 10px;
    height: 10px;
    /* display: inline-block; */
    background-color: #cc0418;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.line {
    stroke: black;
    stroke-width: 2px;
}

.map svg {
    stroke: white;
}

.map path {
    fill: rgb(48,48,48);
}

.map circle {
    fill:rgb(0, 110, 255);
    stroke:white;
    stroke-width: 2px;
}

.stocks {
    fill: none;
    display: flex;
    flex-direction: column;
}

.stocks > svg  {
    padding: 10px;
    width: auto;
}

.debt {
    /* fill: black; */
    display: flex;
    flex-direction: column;
}

.debt > svg  {
    padding: 10px;
    width: auto;
}

.flights {
    display: flex;
    flex-direction: column;
}

.flights > svg {
    padding: 10px;
    width: auto;
}

text {
    font-size: 8pt;
    stroke-width: 0.5px;
    font-weight: regular;
}

.text-selected {
    fill: red;
}

.text-not-selected {
    fill: black;
}

.text-hover {
    font-weight: bolder;
    font-size: .9em;
    border: 1px solid black;
}

.text-normal {
    font-weight: normal;
    font-size: .8em;
}

.yearChart {
    fill: rgb(0, 110, 255);
}

.highlighted {
    fill: rgb(255, 217, 0);
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}

.selected-info {
    stroke: blue;
}

.brush {
    width: 95.5vw;
}

#timeline {
    background-color: white;
}

#info-panel {
    background-color:white;
    height: 72.6vh;
    width: 25vw;
    overflow-y: auto;
    display: flex;
}

#info {
    background-color:white;
    height: 74.15vh;
    width: 25vw;
    margin: 2px;
}

#flights {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#map {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#stocks {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#debt {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}