body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin:0px;
}

.header {
    display: flex;
    justify-content: start;
    font-size: 24pt;
    color: white;
    background: linear-gradient(90deg, rgba(30, 30, 30) 0%, rgba(24, 24, 24) 50%);
    padding: 15px;
}

.timelineDiv {
    display:flex;
    justify-content: center;
}

.chart-containers {
    display: flex;
    flex-direction: rows;
    margin: 2px;
    justify-content:center;
}

.contents {
    background-color: #424242 !important;
    height: 90vh;
    overflow: hidden;
}

.charts{
    display: flex;
}

.chartpanel {
    justify-items:center;
    align-items: center;
}

.title {
    color: white;
    background-color: black;
    display: flex;
    font-size: 14pt;
    justify-content: center;
    padding: 2px;
}

.line {
    stroke: black;
    stroke-width: 2px;
}

.map svg {
    stroke: white;
}

.map path {
    fill: rgb(48, 48, 48);
}

.map circle {
    fill:rgb(0, 110, 255);
    stroke:white;
    stroke-width: 2px;
}

.stocks {
    fill: none;
    display: flex;
    flex-direction: column;
}

.stocks > svg  {
    padding: 10px;
}

.stocks > svg {
    width: auto;
}

.debt {
    fill: none;
    display: flex;
    flex-direction: column;
}

.debt > svg  {
    padding: 10px;
}

.debt > svg {
    width: auto;
}

text {
    font-size: 8pt;
    stroke-width: 0.5px;
    font-weight: regular;
}

.yearChart {
    fill: rgb(0, 110, 255);
}
.highlighted {
    fill: rgb(255, 217, 0);
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}

.brush {
    width: 95.5vw;
}

#timeline {
    width: 90.5vw;
    background-color: white;
}

#info-panel {
    background-color:rgb(235, 233, 233);
    height: 72.6vh;
    width: 20vw;
}

#info {
    background-color:white;
    height: 76.2vh;
    width: 20vw;
    margin: 2px;
}

#flights {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#map {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#stocks {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}

#debt {
    background-color: white;
    height: 38vh;
    width: 35vw;
    margin: 2px;
}